# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# Virtual environment
.venv/

# Logs
*.log

# CSV and JSON cache files
cht_test_results.csv
cht_prompt_cache.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
